@model IEnumerable<CRUD_Operation.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>All Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.accountHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bankName)
            </th>
            <th>                
                <a asp-action="CreateorEdit" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i> New</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.accountHolderName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bankName)
            </td>
            <td>                   
                <form asp-action="Delete" asp-route-id="@item.id">
                    <div class="btn-group btn-group-sm">
                        <a asp-action="CreateorEdit" asp-route-id="@item.id" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button type="Submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to delete this record?')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>                    
                </form>             
            </td>
        </tr>
}
    </tbody>
</table>
